.rune-select
  width: 100%

.build-editor
  padding-left: 20px
  padding-right: 20px
  padding-top: 20px

.item-select
  width: 100%

.champion-select
  width: 14rem

.level-select
  width: 3rem

.ability-select
  margin-left: 0.3rem
  margin-right: 0.3rem

.sim-button
  width: 100%

.ability-select-container
  display: inline-block
